<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @interaction_type.description %>
</p>

<%= link_to 'Edit', edit_interaction_type_path(@interaction_type) %> |
<%= link_to 'Back', interaction_types_path %>
