<header class="profile">
  <img class="profile-icon" src="<%= asset_path( 'fb-profile.jpg' ) %>" />
  <div class="profile-name highlight">Lion</div>
  <div class="profile-filler">shared <span class="highlight">a post</span></div>
  <div class="profile-footer">2hrs</div>
</header>