<h1>Example Ads</h1>

  <p class="lion-ad-content">
    <%= render 'ad_doer', scenario:  @example_scenarios[0] %>
  </p>
  <p class="lion-ad-content">
    <%= render 'ad_donator', scenario:  @example_scenarios[1] %>
  </p>
  <p class="lion-ad-content">
    <%= render 'ad_requester', scenario:  @example_scenarios[2] %>
  </p>

<p>
  <%= link_to 'Back', scenarios_path %>
</p>
