<p id="notice"><%= notice %></p>

<h1>Scenarios</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Image</th>
      <th>Verb</th>
      <th>Noun</th>
      <th>requester</th>
      <th>Doer</th>
      <th>Funding Goal</th>
      <th>Is Child Of</th>
      <th>Event</th>
      <th>Verified as complete</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scenarios.each do |scenario| %>
      <%= render 'scenario_table_row', scenario: scenario %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scenario', new_scenario_path %>
